html
  head
    title Song Select
    link(rel='stylesheet', href='/css/style.css')
  body
    form(action='/save',method='post')
      h2 Enter a name for your playlist
      input(type='text' name='playlistname' value=playlist)
      h2 Now select the songs in the playlist:
      label(for='srch') Search:
      input(type='text' id='srch' name='srch')
      style(id='search_style')
      div(id='songlist')
        ul(list-style-type='none')
          for song in list
            - var ssearch = song.song_filepath.toLowerCase()
            - var cked    = song.in_playlist == 1
            - var rtist = (typeof song.artist === 'undefined' || song.artist == null) ? '' : song.artist + ' - '
            - var disptitle = song.title
            li(class='searchable' data-index=ssearch)
              input(type='checkbox' onClick='addsong(this)' name='songs' checked=cked value=song.file_hash)
              span(class='artist') #{rtist}
              span(id=song.file_hash) #{disptitle}
      div(id='selectedsongs')
        ul(list-style-type='none')
      input(type="submit")
      input(type="reset")
      script(type='text/javascript', src='/js/searchbox.js')
