<h1>New Property</h1>

<%= form_for :apartment,url: apartments_path do |f| %>
	<p>
		<%= f.label :number_of_bedrooms %><br>
		<%= f.select :number_of_bedrooms, [[ 'Any', 0 ],['One',1],['Two',2],['Three',3]] %>
	</p>

	<p>
		<%= f.label :rent_pcm %><br>
		<%= f.text_field :rent_pcm %>
	</p>

	<p>
		<%= f.label :postcode %><br>
		<%= f.text_field :postcode %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
