<table>
<tr><td><strong>Number of bedrooms: </strong></td>
		<td><%= @apartment.number_of_bedrooms %></td>
</tr>
<tr><td><strong>Rent PCM: </strong></td>
		<td><%= @apartment.rent_pcm %></td>
</tr>
<tr><td><strong>Postcode area: </strong></td>
		<td><%= @apartment.postcode %></td>
</tr>
<tr><td><strong>Property Description: </strong></td>
		<td><%= @apartment.description %></td>
</tr>
</table>

<%= link_to 'Back to index', apartments_path %>
