<!doctype html>
<HTML>
  <HEAD>
    <TITLE>edit playlist</TITLE>
    <link rel="stylesheet" href="/css/playlist.css">
  </HEAD>
  <BODY>

    <script type="text/javascript">
      function edittag(hash) {
        window.location = '/tag/' + hash + "/<%= @playlist_id %>";
      }
    </script>

    <% if @playlist %>
    <form action="/playlist/save" onSubmit="return preSubmit()" method="POST">
      <div class='layout'>
        <label for="playlist_name">Playlist name: </label>
        <input id="playlist_name" type="text" name="pname" placeholder="Playlist name..." value="<%= @pname %>" />
        | <a title="close" onClick="return checkBeforeLeaving()" href="/playlist/manage">x</a>
      </div>
      <div class='layout'>
        <span class="control">
          <table class='layout'>
            <tr>
              <td>
      <select id="playlist" onClick="toggleMoveButtons()" name="playlist" multiple>
        <% @foo.each do |song| %>
        <option ondblclick="edittag('<%= song['hash'] %>')" id="<%= song['hash'] %>" name="<%= song['hash'] %>" >
          <%= song['title'] %>
        </option>
        <% end %>
      </select>
      </td>
      <td valign="bottom">
      <input type="hidden" name="songids" value="" />
      <input type="hidden" name="pid" value="<%= @playlist_id %>" />
      <a onClick="moveUp()"><img title="up" alt="up" src="/img/up-and-down.png" id="move-up" class="disabled up" /></a><br/>
      <a onClick="moveDown()"><img title="down" alt="down" src="/img/up-and-down.png" id="move-down" class="disabled down" /></a><br/>
      </td>
      </tr>
      </table>
      </span>
      <input type="button" onClick="removeSelected()" value="Remove" />
      <input type="submit" value="Save" />
      </div>
    </form>

    <div class="info">To see the artist/title information currently stored for a song, double-click it. </div>
    <div class="layout" id="search_section">
    </div>
    <script src="/js/spa/bundle.js"></script>
    <script src="/js/playlist_ui.js"></script>
    <script src="/js/playlist_util.js"></script>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
