<!doctype html>
<HTML>
  <HEAD>
    <TITLE>edit playlist</TITLE>
    <link rel="stylesheet" href="/css/playlist.css">
  </HEAD>
  <BODY>
    <script src="/js/ext-static/react.development.js" crossorigin>
    </script>
    <script src="/js/ext-static/react-dom.development.js" crossorigin>
    </script>
    <script language="javascript">

      // FIXME: these menu items can't be selected again!
      function removeSelected() {
        var sel = document.getElementById('playlist');
        var toremove = []
        for (var i = 0; i < sel.options.length; i++) {
          if (sel.options[i].selected) {
            toremove.push(sel.options[i].id);
          }
        }

        for (var r = 0; r < toremove.length; r++) {
          var sel = document.getElementById(toremove[r]);
          sel.remove();
          // check if the menu item should be reactivated in the dropdown
          // (it may not be there)
          var dd_sel = document.getElementById('s_' + toremove[r])
          if (dd_sel != null) {
            var oldText = dd_sel.innerText;
            // FIXME: I can't just re-add 'addToList' function as
            // it doesn't seem to recognise it if I refer to it outside the js :-/
            var str = "<a onClick=\"alert('Unable to re-add this song. Please save and come back to this playlist.')\">" + oldText + "</a>";
            alert(str);
            dd_sel.innerHTML = str;

          }
        }

      }

      function preDelete() {
        return confirm("Are you sure you want to delete this playlist??");
      }
      function preSubmit() {
        // we want all the items, not just the selected ones.
        var hashes = "";
        var namefield = document.getElementById('playlist_name')
        if (namefield.value == '') {
          alert('Please input a playlist name');
          return false;
        }
        var sel = document.getElementById('playlist');
        if (sel.options.length < 2) {
          alert('Please add at least 2 items to the playlist');
          return false;
        }
        for (var i = 0; i < sel.options.length; i++) {
          if (i != 0) {
            hashes += ",";
          }
          hashes += sel.options[i].id;
        }
        document.forms[0].songids.value = hashes;
        return true;
      }
    </script>

    <% if @playlist %>
    <form action="/playlist/save" onSubmit="return preSubmit()" method="POST">
      <div class='layout'>
        <label for="playlist_name">Playlist name: </label>
        <input id="playlist_name" type="text" name="pname" placeholder="Playlist name..." value="<%= @pname %>" />
        | <a title="close" href="/playlist/manage">x</a>
      </div>
      <div class='layout'>
      <select id="playlist" name="playlist" multiple>
        <% @foo.each do |song| %>
        <option id="<%= song['hash'] %>" name="<%= song['hash'] %>" >
          <%= song['title'] %>
        </option>
        <% end %>
      </select>
      <input type="hidden" name="songids" value="" />
      <input type="hidden" name="pid" value="<%= @playlist_id %>" />
      <input type="button" onClick="removeSelected()" value="Remove" />
      <input type="submit" value="Save" />
      </div>
    </form>

    <div class="layout" id="search_section">
    </div>
    <script src="/js/ext-static/axios.min.js"></script>
    <script src="/js/playlist_functions.js"></script>
    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
