<!doctype html>
<HTML>
  <HEAD>
    <TITLE>manage playlists</TITLE>
    <link rel="stylesheet" href="/css/playlist.css">
  </HEAD>
  <BODY>
    <% if @actions[:playlist] || @actions[:playlist_ro] %>
    Select your playlist:
    <table class="playlists">
      <% @foo.each_with_index do |opt, index| %>

      <tr><td>
      <table class="playlist_entry">
        <tr>
          <td class="playlist_name"><%= opt['name'] %></td>
          <td rowspan='2'><div class="actions"><a id="link-<%= index %>" href="/playlist/m3u/<%= opt['name']%>">m3u</a>
           <a href="#" onClick="doCopy(<%= index %>)"><img title="copy to clipboard" alt="down" src="/img/copy.png" /></a></div>
            <% if @actions[:playlist] %>
            <div class="actions"><a href="/playlist/<%= opt['id']%>">edit</a></div>
            <div class="actions"><a class="confirmit" href="/playlist/<%= opt['id']%>/delete">delete</a></div>
            <% else %>
            <div class="disabled-actions">edit</div>
            <div class="disabled-actions">delete</div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="playlist_modified"><%= opt['modified'] %></td>
        </tr>
       </table>
      </td></tr>

      <% end %>
      <tr><td colspan="4"><a href="/playlist_new">Create new</a></td></tr>
    </table>
    <div class="info">Hint: You can right-click/save a playlist from its m3u item.</div>

    <script type="text/javascript">
      var elems = document.getElementsByClassName('confirmit');
      var confirmIt = function (e) {
          if (!confirm('Are you sure you want to delete the playlist?')) e.preventDefault();
      };
      for (var i = 0, l = elems.length; i < l; i++) {
          elems[i].addEventListener('click', confirmIt, false);
      }

      function doCopy(x) {
        let elem = document.getElementById("link-" + x)
        if (elem != null) {
          var hf = document.createElement('textarea')
          hf.value = elem.href
          hf.setAttribute('readonly', '')
          hf.style = {position: 'aboslute', left: '-9999px'}
          document.body.appendChild(hf)
          hf.select()
          document.execCommand('copy')
          document.body.removeChild(hf)
        } else {
          alert('playlist at index #' + x + ' not found!')
        }
      }
    </script>

    <% else %>
    Sorry, you don't have permission to manage playlists.
    <% end %>
  </BODY>
</HTML>
