<!doctype html>
<HTML>
  <HEAD>
    <TITLE>manage playlists</TITLE>
    <link rel="stylesheet" href="/css/playlist.css">
  </HEAD>
  <BODY>
    <script type="text/javascript">
      function preSubmit() {
        let f_artist = document.getElementById('artist');
        let f_title = document.getElementById('title');
        let f_playlist_id = document.getElementById('playlist_id');
        if (f_artist.value == '' || f_title.value == '') {
          alert('Artist or Title cannot be empty!');
          return false;
        }
        if (f_playlist_id.value == '') {
          alert('No playlist id! Cannot save tag :-( ');
          return false;
        }
        return true;
      }
    </script>
    <form action="/tag/save" onSubmit="return preSubmit()" method="POST">
      <table>
        <tr>
          <td>Current Display title:</td>
          <td><%= @taginfo['display_title'] %></td>
        </tr>
        <tr>
          <td><label for="artist">Artist</label></td>
          <td><input id="artist" name="artist" value="<%= @taginfo['artist'] %>" placeholder="MISSING - Type Artist name" /></td>
        </tr>
        <tr>
          <td><label for="title">Title</label></td>
          <td><input id="title" name="title" value="<%= @taginfo['title'] %>" placeholder="MISSING - Type Song title"/></td>
        </tr>
        <tr>
          <td>Listen:</td>
          <td><audio 
                  controls 
                  src="/play/<%= @hash %>">
                  Your browser does not support the <code>audio</code> element.
                  </audio>
          </td>
        </tr>
      </table>
      <input id="hash" type="hidden" name="hash" value="<%= @hash %>" />
      <input id="playlist_id" type="hidden" name="playlist_id" value="<%= @playlist_id %>" />
    </form>
    <div class="layout" id="tageditor_section" data-custom-props='{ "songHash": "<%= @hash %>" }'>
    </div>
      <input type="submit" value="Save Tag"/>
      <input type="button" value="Cancel" onClick="window.history.back()"/>
    <script src="/js/spa/tags.bundle.js"></script>

  </BODY>
</HTML>
