<!doctype html>
<HTML>
  <HEAD>
    <TITLE>view documents</TITLE>
    <link rel="stylesheet" href="/css/default.css">
    <script src="/js/ext/axios.min.js"></script>
    <script src="/js/entity.js" type="text/javascript" ></script>
  </HEAD>
  <BODY>
    <h2>View Documents</h2>
    <div class="layout">
      <table class="documenttable">
        <tr>
          <th><label>Received</label></th>
          <th><label>Type</label></th>
          <th><label>Sender</label></th>
          <th><label>Due</label></th>
          <th><label>Paid</label></th>
          <th><label>Account (if applicable)</label></th>
        </tr>
        <% @documents.each_with_index do |document, index| %>
        <tr>
          <td><a href="/document/<%= document.id %>"><%= document.received_date %></a></td>
          <td><%= document.doc_type.name %></td>
          <td><%= document.sender.name %></td>
          <td><%= document.due_date ? document.due_date : '-' %></td>
          <td><%= document.paid_date ? document.paid_date : '-' %></td>
          <td><%= document.sender_account.nil? ? '&nbsp;' : document.sender_account.account_name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </BODY>