<!doctype html>
<HTML>
  <HEAD>
    <TITLE>view documents</TITLE>
    <link rel="stylesheet" href="/css/default.css">
    <script src="/js/ext/axios.min.js"></script>
    <script src="/js/entity.js" type="text/javascript" ></script>
    <script src="/js/searchfilter.js" type="text/javascript" ></script>
  </HEAD>
  <BODY>
    <h2>View Documents</h2>
    <div class="layout">
    <div class="searchbar">
      <span class='searchtitle'>Search type/sender/summary: </span>
      <span class='searchfilter'><input name='searchfilter' oninput='quickFilter(this.value)' />
    </div>
      <table class="documenttable" id='alldocuments'>
        <tr>
          <th class="recvd"><label>Received</label></th>
          <th><label>Type</label></th>
          <th><label>Sender</label></th>
          <th><label>Due</label></th>
          <th><label>Paid</label></th>
          <th><label>Account (if applicable)</label></th>
          <th><label>Summary</label></th>
        </tr>
        <% @documents.each_with_index do |document, index| %>
        <tr>
          <td>
            <a href="/document/<%= document.id %>">
            <%= document.received_date %></a>
            <% if document.file_location %> * <% end %>
          </td>
          <td><%= document.doc_type.name %></td>
          <td><%= document.sender.name %></td>
          <td><%= document.due_date ? document.due_date : '-' %></td>
          <td><%= document.paid_date ? document.paid_date : '-' %></td>
          <td><%= document.sender_account.nil? ? '&nbsp;' : document.sender_account.account_name %></td>
          <td><%= document.summary %></td>
        </tr>
        <% end %>
      </table>
      <span class='advice'>* receipt/document uploaded</span>
    </div>
    <div class='add_document'><button onClick="go('/document_new')">Add New Document</button></div>
  </BODY>