<!doctype html>
<HTML>
  <HEAD>
    <TITLE>view/edit senders</TITLE>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/tooltip.css" />
    <script src="/js/ext/axios.min.js"></script>
    <script src="/js/entity.js" type="text/javascript" ></script>
  </HEAD>
  <BODY>

    <h2>Sender list</h2>
    <%= erb :nav, { :locals => { :page => 'senders'} } %>
    <div class="layout" id="doctype_section">
      <table class="senderlist">
      <% @senders.each_with_index do |sender, index| %>
      <tr>
        <td colspan='3'><span class='sendername'><a href="/sender/<%= sender.id %>"><%= sender.name %></a></span></td>
      </tr>
      <tr>
        <td>
          <label>Username</label><span class='optional'> (optional): </span>
          <% unless (sender.username.empty?) %>
          <b><%= sender.username %></b>
          <% else %>
          <span class='not_provided'>(none)</span>
          <% end %>
        </td>
        <td>
          <% unless (sender.password_hint.empty? ) %>
          <div class="tooltip">Password hint: 
            <span class="tooltiptext"><%= sender.password_hint %></span>
          </div>
          <% else %>
          &nbsp;
          <% end %>
        </td>
      </tr>
      <tr>
        <td><label>Comments</label></td><td colspan='3'><%= sender.comments %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan='3'>
          <button onClick="go('/sender_new')">create new sender</button>
        </td>
      </tr>
      </table>
    </div>
  </BODY>
</HTML>
