<!doctype html>
<HTML>
  <HEAD>
    <TITLE>edit document</TITLE>
    <link rel="stylesheet" href="/css/default.css">
    <script src="/js/ext/axios.min.js"></script>
    <script src="/js/entity.js" type="text/javascript" ></script>
  </HEAD>
  <BODY>

    <h2>Edit Document</h2>
    <div class="layout">
      <table class="documentdetail">
      <tr>
      <td class='advice' colspan='2'>Warning: account numbers are shown in this screen so be careful if you are accessing this site in a public place.</td>
      </tr>
      <tr>
        <td>
          <input class="sender_field" type='hidden' name='id' value="<%= @doc.id %>"/>

          <div>Document Type:</div>
          <input class="sender_field" type='hidden' name='doc_type_id' value="<%= @doc.doc_type.id %>"/>
          <div class="field_value"><%= @doc.doc_type.name %>
          </div>

          <div>Sender:</div>
          <input class="sender_field" type='hidden' name='sender_id' value="<%= @doc.sender.id %>"/>
          <div class="field_value">
            <%= @doc.sender.name %>
          </div>
          <div>Sender account:</div>
          <div>
            <select class='sender_field' id="senderaccounts" name="sender_account_id">
            <option value="">- none -</option>
            <% @sender.sender_accounts.each do |account| %>
            <option value="<%= account.id %>" <%= !@doc.sender_account.nil? && @doc.sender_account.id == @doc.sender_account.id ? ' selected' : ''%>><%= account.account_number%>
            <% end %>
            </select>
          </div>

          <div>Summary:</div>
          <input name="summary" class='sender_field' value="<%= @doc.summary %>" />
          </div>

        </td>
        <td>
          <table class='dates'>
            <tr>
              <td><label>Received</label> *</td><td><input class='sender_field mandatory' type="date" id='date_received' name="received_date" value="<%= @doc.received_date %>" /></td>
            </tr>
            <tr>
              <td><label>Date Due</label></td><td><input class='sender_field' type="date" name="due_date" value="<%= @doc.due_date %>"/></td>
            </tr>
            <tr>
              <td><label>Date Paid</label></td><td><input class='sender_field' type="date" name="paid_date" value="<%= @doc.paid_date %>"/></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
        <div><label>Receipt photo/PDF:</label></div>
        <div><input name='file_location' class='sender_field' type='file'></textarea></div>
        <div><label>Comments:</label></div>
        <div><textarea name='comments' class='sender_field' rows='5'><%= @doc.comments %></textarea></div>
        </td>
      </tr>
      <tr>
        <td>
          <button onClick="updateDocument(<%= @doc.id %>)">update document</button>
          <button onClick="go('/documents')">back to list</button>
        </td>
      </table>
    </div>
        <script type='text/javascript'>
    addChangeIndicators('sender_field')
    </script>

  </BODY>
</HTML>
