<!doctype html>
<HTML>
  <HEAD>
    <TITLE>sign in</TITLE>
    <link rel="stylesheet" href="/css/default.css">
  </HEAD>
  <BODY>
  
    <div class="layout">
      <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>
    <p>
    Hello, <%= @user.user_name %>.
    </p>
    <p>
    <% if @allowed %>
    <div>You are currently allowed to listen to music from this IP. Enjoy!</div>
    <% unless @nowplaying.nil? %>
    <div><b>Now Playing: </b><%= @nowplaying %></div>
    <% end %>

    <% else %>
    Do you want to listen to music from <%= @curr_ip %>? <a href="/allow_listen/<%= @curr_ip %>">YES!</a>
    <% end %>
    </p>
    </div>
  </BODY>
</HTML>
