<!doctype html>
<HTML>
  <HEAD>
    <meta http-equiv="refresh" content="30">
    <TITLE>main page</TITLE>
    <link rel="stylesheet" href="/css/default.css">
  </HEAD>
  <BODY>
  
    <div class="layout">
      <% if @error %>
    <p class="error"><%= @error %></p>
  <% end %>
    <p>
    Hello, <%= @user.user_name %>.
    </p>
    <p>
    <% if @allowed %>
    <div>You are currently allowed to listen to music from this IP. Enjoy!</div>
    <%  unless @nowplaying.nil? %>
    <br/>
    <div><b>Now Playing: </b><%= @nowplaying[:title] %> (<%= @nowplaying[:remaining] %> secs remaining)</div>
    
    <%    if @nowplaying[:detail] %>
    <table>
      <tr>
        <td>Artist: </td>
        <td><%= @nowplaying[:detail]['artist'] %></td>
      </tr>
      <tr>
        <td>Song last played: </td>
        <% if @nowplaying[:detail]['last_played_title'] %>
        <td><%= @nowplaying[:detail]['last_played_title'] %></td>
        <% else %>
        <td><i>not recently</i></td>
        <% end %>
      </tr>
      <% if @top_artists %>
      <tr>
        <td>TOP ARTISTS</td>
        <td>
          <ul><% @top_artists.each do |info| %>
            <li><%= info[:item] %> - <i><%= info[:total_plays] %> song(s)</i></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    </table>
    <%    end %>
    <%  end %>

    <% else %>
    Do you want to listen to music from <%= @curr_ip %>? <a href="/allow_listen/<%= @curr_ip %>">YES!</a>
    <% end %>
    </p>
    </div>
  </BODY>
</HTML>
